# 🤖 Bot Token (@BotFather dan oling)
BOT_TOKEN=8153737070:AAECwrqAsh7AsuLnKwOApx7FsWc5XIwkLZ8

# 📢 Kanal username (@ belgisi bilan)
CHANNEL_USERNAME=@TeacherRahmatjon_math

# 👑 Admin Telegram ID lar (vergul bilan ajratilgan)
# @userinfobot dan ID ni oling
ADMIN_IDS=5678712917
